* {
    padding: 0;
    margin: 0;
    border-width: 0;
}

.container {
    background-color: #E5DCD5;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: solid black 1pt;     
}

.mensagem {
    height: 90vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.mensagemx {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teclado {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.teclado > input {
    padding: 2vh;
}

#autor, #msg, #botaoEnviar {
    height: 100%;
    margin: 5px;
    border-radius: 8px; /* Depois do push */
    font-size: 16px; /* Depois do push*/
}

#autor {
    width: 20%;
}

#msg {
    width: 65%;
}

#botaoEnviar {
    width: 15%;
    height: 100%;
    font-weight: bold;
}
#digit {
    font-style: italic;
    position: absolute;
    top: 0;
    right: 45%;
}