.mensagem-eu {
    max-width: 40%;
    text-align: right;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 248, 198);
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px;
}